p.ziel{
    font-family: Arial Narrow, sans-serif;
    font-size:20px;
    color:rgb(0, 63, 0);
    }
    p.nieb{
    
    font-size:30px;
    color:rgb(0, 0, 141);
    }
p {
    font-size: 39px;
    color: #10417092;
}
body {
    font-size: 49px;
    color: #14592204;
  }